<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--数据库类型-->
    <add key="DataProvider" value="DBAccess.SqlServer"/>

    <add key="Connection" value="Data Source=127.0.0.1;Initial Catalog=DI_Aoc;User ID=sa;Password=123456;"/>

  </appSettings>
  <connectionStrings> 
  </connectionStrings> 
</configuration>